invoke
twine
wheel
zest.releaser
bumpversion
pre-commit
black
coverage
flake8-bugbear
flake8-docstrings
flake8-isort
flake8-mypy
flake8
ipdb
isort
mypy
tblib
tox


Django>2.2
django-cms>=3.7.0
jsonfield>=2.0.2
django-jsoneditor>=0.1.6